APP_ENV="dev"
USERNAME="xxxxxxxx""
PASSWORD="xxxxxxxx""
APPLICATION_ID="xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
APPLICATION_SECRET="XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
GROUP_ID="xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx""

# SELECTED_REPORTS are the reports that will be displayed
# It is a comma separated list in the format:
# long-alpha-numeric-report-id|Display Name|type(powerbi or esri, defaults to powerbi if empty)

SELECTED_REPORTS="xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx|First Tab, xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx|Second Tab"

ESRI_CLIENT_ID="xxxxxxxx"
ESRI_CLIENT_SECRET="xxxxxxxxxxxxxxxx"
ESRI_ENDPOINT="https://services7.arcgis.com"
PATTERNS_0="^\\/testing\\/(.*?)$"
ACCEPTED_REFERRERS="maps.arcgis.com"
